@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face{
    font-family: 'Starlight Rune';
    src: url("../fontesss/StarlightRune/StarlightRune.ttf");
}

:root {
    --marrom-claro:  #dfc49b;
    --marrom-escuro: #6a4529;
    --marrom-bem-escuro: #402816;
    --marrom-extremamente-escuro: #1b130b;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #ffffff;
}


.navegaaa {
    max-width: 1280px;
    margin: auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 30px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .80s;
    z-index: 10;
    background-color: var(--marrom-claro);
}

.logo img {
    height: 9vh;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: var(--marrom-escuro);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s, color 0.3s;
}


header ul li a:hover {
    color: var(--marrom-bem-escuro);
}


header .redsocial img {
    width: 30px; 
    transition: transform 0.3s; 
}

header .redsocial img:hover {
    transform: scale(1.6); 
}

/* CONTEÚDO */

#titulo-cardapio {
    margin-top: 180px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Starlight Rune';
    font-size: 140px;
}

.favoritos-quadros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.favoritos-quadros img{
    width: 350px;
    max-height: 350px;
    object-fit: cover;
    border-radius: 130px 130px 0px 0px;
}

/* PARTE DOS CAFÉS GELADOS */

.cafe #titulo-gelado {
    margin: 90px 0px 10px 30px;
    font-weight:400;
    font-size: 45px;
    color: var(--marrom-extremamente-escuro);
}

.cafe-linha {
    width: 95%;
    margin: 0px 10px 30px 30px;
}

.textos-produtos {
    max-width: 871.88px;
    min-width: 871.88px;
    margin-top: 20px;
}

.linha-pequena {
    width: 95%;
    margin: 0px 10px 30px 30px;
}

.produto-geral {
    display: flex;
    justify-content: center;
}

#gelado-imagem1 {
    width: 100px;
    margin: 0px 40px 30px 30px;
}

#gelado-titulo1 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#gelado-texto1 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    
}

#gelado-preco1{
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

/* 2 */

#gelado-imagem2 {
width: 100px;
    margin: 0px 40px 30px 30px;
}

#gelado-titulo2 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#gelado-texto2 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    
}

#gelado-preco2 {
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

/* 3 */

#gelado-imagem3 {
width: 100px;
    margin: 0px 40px 30px 30px;
}

#gelado-titulo3 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#gelado-texto3 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    
}

#gelado-preco3 {
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

/* 4 */

#gelado-imagem4 {
width: 100px;
    margin: 0px 40px 30px 30px;
}

#gelado-titulo4 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#gelado-texto4 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    
}

#gelado-preco4 {
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

/* AQUI COMEÇAM OS CAFÉS QUENTES */

.cafe #titulo-tradicional {
    margin: 90px 0px 10px 30px;
    font-weight:400;
    font-size: 45px;
    color: var(--marrom-extremamente-escuro);
}

#tradicional-imagem1 {
width: 100px;
    margin: 0px 40px 30px 30px;
}

#tradicional-titulo1 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#tradicional-texto1 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    
}

#tradicional-preco1{
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

/* 2 */

#tradicional-imagem2 {
width: 100px;
    margin: 0px 40px 30px 30px;
}

#tradicional-titulo2 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#tradicional-texto2 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    
}

#tradicional-preco2 {
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

/* 3 */

#tradicional-imagem3 {
width: 100px;
    margin: 0px 40px 30px 30px;
}

#tradicional-titulo3 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#tradicional-texto3 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    
}

#tradicional-preco3 {
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

/* 4 */

#tradicional-imagem4 {
width: 100px;
    margin: 0px 40px 30px 30px;
}

#tradicional-titulo4 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#tradicional-texto4 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    
}

#tradicional-preco4{
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

/* PARTE DA PADARIA AIII TOME */

.cafe #titulo-padaria {
    margin: 90px 0px 10px 30px;
    font-weight:400;
    font-size: 45px;
    color: var(--marrom-extremamente-escuro);
}

#padaria-imagem1 {
width: 100px;
    margin: 0px 40px 30px 30px;
}

#padaria-titulo1 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#padaria-texto1 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    
}

#padaria-preco1{
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

/* 2 */

#padaria-imagem2 {
width: 100px;
    margin: 0px 40px 30px 30px;
}

#padaria-titulo2 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#padaria-texto2 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    
}

#padaria-preco2 {
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

/* 3 */

#padaria-imagem3 {
width: 100px;
    margin: 0px 40px 30px 30px;
}

#padaria-titulo3 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#padaria-texto3 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    
}

#padaria-preco3 {
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

/* 4 */

#padaria-imagem4 {
width: 100px;
    margin: 0px 40px 30px 30px;
}

#padaria-titulo4 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#padaria-texto4 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    
}

#padaria-preco4 {
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

/* 5 */

#padaria-imagem5 {
width: 100px;
    margin: 0px 40px 30px 30px;
}

#padaria-titulo5 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#padaria-texto5 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    
}

#padaria-preco5 {
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

/* 6 */

#padaria-imagem6 {
width: 100px;
    margin: 0px 40px 30px 30px;
}

#padaria-titulo6 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
    font-size: 25px;
    margin-bottom: 10px;

}

#padaria-texto6 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}

#padaria-preco6 {
    margin: 40px 0px 0px 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--marrom-bem-escuro);
}


/*Estou fazendo merda aqui, tenha cuidado*/

.tudo{
    opacity: 0;
    filter: blur(12px);
    transform: translateX(-100%);
    transition: all 2.9s;
}

.apareceu{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2.2s;
}

/*Rodape*/
.rodaopé{
    background-color: var(--marrom-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 80px 6%;    
}

.rodaopé ul li a{
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    color: var(--marrom-escuro);
}

.navgSite ul li a:hover{
    color: var(--marrom-bem-escuro);
}

.fala{
    width: 20%;
    color: #000;  
}

.falar li{
    list-style-type: none;
    list-style: none;
    color: var(--marrom-escuro);
    font-size: 12px;
}

.falar ul li a :hover{
    list-style-type: none;
    list-style: none;
    color: var(--marrom-escuro);
    font-size: 12px;
}

.navgSite{
    width: 40%;  
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.navgSite li{
    text-align: center;
    width: 15%;
}

.navegaNSite{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.direitos{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.redspe{
    width: 20%;
    display: flex;
    justify-content: right;
}

.redspe a{
    width: 10%;
    margin: 2px;
}

.redspe img{
    width: 100%;
    transition: 0.3s;
}

.redspe img:hover {
    transform: scale(1.6); 
}
