@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face{
    font-family: 'Starlight Rune';
    src: url("../fontesss/StarlightRune/StarlightRune.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #a77833;
}

.navegaaa {
    max-width: 1280px;
    margin: auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 30px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .80s;
    z-index: 10;
    background-color: aliceblue;
}

header.rolarola {
    background-color: aliceblue;
    padding: 12px 4%;
    
}

header.rolarola a {
    color: #6a4529;
}

header.rolarola a:hover {
    color: #b37f5788;
}

.logo img {
    height: 9vh;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #6a4529;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s, color 0.3s;
}


header ul li a:hover {
    color: #dfc49b;
}


header .redsocial img {
    width: 30px; 
    transition: transform 0.3s; 
}

header .redsocial img:hover {
    transform: scale(1.6); 
}


#titulo-cardapio{ 
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 200px;
    font-size: 90px;
    font-family: Stylebooks;
}

/*Rodape*/
.rodaopé{
    background-color: var(--marrom-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 80px 6%;    
}

.rodaopé ul li a{
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    color: var(--marrom-escuro);
}

.navgSite ul li a:hover{
    color: var(--marrom-bem-escuro);
}

.fala{
    width: 20%;
    color: #000;  
}

.falar li{
    list-style-type: none;
    list-style: none;
    color: var(--marrom-escuro);
    font-size: 12px;
}

.falar ul li a :hover{
    list-style-type: none;
    list-style: none;
    color: var(--marrom-escuro);
    font-size: 12px;
}

.navgSite{
    width: 40%;  
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.navgSite li{
    text-align: center;
    width: 15%;
}

.navegaNSite{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.direitos{
    font-size: 14px;
}

.redspe{
    width: 20%;
    display: flex;
    justify-content: right;
}

.redspe a{
    width: 10%;
    margin: 2px;
}

.redspe img{
    width: 100%;
    transition: 0.3s;
}

.redspe img:hover {
    transform: scale(1.6); 
}

